:root {
    --color-text: #322225;
    --color-chudao: #ff630e;
    --color-opacity: #97939b;
    --color-footer: #0e0a38;
}

.wrap_baner {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    padding: 0;
}
.baner {
    position: absolute;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.baner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 22, 68, 0.7);
}

.baner_content {
    position: absolute;
    z-index: 1;
}
.wrap_content {
    position: relative;
    z-index: 3;
    color: var(--color-chudao);
    margin-top: 90px;
    width: 1200px;
    white-space: normal;
}
.content_one {
    font-size: 30px;
    text-transform: uppercase;
}
.content_two {
    text-align: center;
    font-size: 70px;
    color: #fff;
    flex-wrap: wrap;
}
.content_three {
    font-size: 17px;
    text-align: center;
    color: #fff;
}
.content_button > button {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color-chudao);
    border: 1px solid var(--color-chudao);
    color: #fff;

    &:hover {
        background-color: #fff;
        color: var(--color-chudao);
        transition: all 0.5s;
    }
}

// Về chúng tôi
.baner_two {
    position: relative;
    top: 480px;
    height: 600px;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(240, 243, 246, 0.7);
    }

    .content_two {
        position: relative;
        z-index: 2;
        font-size: 16px;
        text-align: justify;
        color: var(--color-footer);
        font-size: 120%;
        .content_two_btn {
            margin-right: 10px;
            outline: none;
            border: 1px solid var(--color-chudao);
            padding: 10px;
            background-color: var(--color-chudao);
            border-radius: 5px;
            color: #fff;
            
            &:hover {
                background-color: #fff;
                color: var(--color-chudao);
                transition: all 0.5s;
            }
        }

        .img_baner_two{
            border-radius: 5px;
        }
    }
}
