:root {
    --color-text: #322225;
    --color-chudao: #ff630e;
    --color-opacity: #97939b;
    --color-footer: #0e0a38;
}

.wrap {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
}
.baner {
    position: absolute;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}
.baner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 22, 68, 0.7);
    z-index: 1;
}

.baner_content {
    z-index: 999;

    .content_one {
        
    }
}
